/* MAKE figures float left to emulate multi-figure environments */

div.figure {
    float:left;
    margin: 10px;
    border: 1px dashed;
    padding: 10px;
}

div.figure p.caption {
    text-align: center;
}


/* necessary to have line-break between last figure and text. */

div.section p {
    clear: left;
}

/* fix equation numbers in RTD */

span.eqno {
    float: right;
     margin-left: 5px;
}

.headerlink {
    display: none;
    visibility: hidden;
}
.headerlink::after{
    visibility: visible;
    display: inline-block;
}
.headerlink::hover{
    display: inline-block;
    visibility: visible;
}
